.tip-tap-editor-module {
  --tt-toolbar-height: 44px;
  --tt-theme-text: var(--foreground);

  font-family: var(--font-sans);
  color: var(--tt-theme-text);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  padding: 0;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  background-color: var(--tt-bg-color);
}

.tip-tap-editor-module::-webkit-scrollbar {
  width: 0.25rem;
}

.tip-tap-editor-module * {
  scrollbar-width: thin;
  scrollbar-color: var(--tt-scrollbar-color) transparent;
}

.tip-tap-editor-module::-webkit-scrollbar-thumb {
  background-color: var(--tt-scrollbar-color);
  border-radius: 9999px;
}

.tip-tap-editor-module::-webkit-scrollbar-track {
  background: transparent;
}

:where(.tiptap.ProseMirror, .tiptap-content) {
  font-family: var(--font-sans);
  font-size: var(--font-body1-size);
  line-height: var(--font-body1-line-height);
}

.simple-editor-wrapper {
  width: 100%;
}

.simple-editor-content {
  // max-width: 648px;
  width: 100%;
  margin: 0 auto;
}

.simple-editor-content
  :where(.tiptap.ProseMirror, .tiptap-content).simple-editor {
  padding: 3rem 3rem;
}

@media screen and (max-width: 480px) {
  .simple-editor-content
    :where(.tiptap.ProseMirror, .tiptap-content).simple-editor {
    padding: 1rem 1.5rem;
  }
}
