:where(.tiptap.ProseMirror, .tiptap-content) {
  h1,
  h2,
  h3,
  h4 {
    position: relative;
    color: inherit;
    font-style: inherit;

    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    font-size: var(--font-h1-size);
    line-height: var(--font-h1-line-height);
    font-weight: var(--font-weight-semibold);
    margin-top: 2.5rem;
  }

  h2 {
    font-size: var(--font-h2-size);
    line-height: var(--font-h2-line-height);
    font-weight: var(--font-weight-semibold);
    margin-top: 2rem;
  }

  h3 {
    font-size: var(--font-h3-size);
    line-height: var(--font-h3-line-height);
    font-weight: var(--font-weight-medium);
    margin-top: 1.75rem;
  }

  h4 {
    font-size: var(--font-h4-size);
    line-height: var(--font-h4-line-height);
    font-weight: var(--font-weight-medium);
    margin-top: 1.5rem;
  }
}
